<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.ProdMacPlmDaoImpl">

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhiyun.entity.ProdMacPlm">
        INSERT INTO PROD_MAC_PLM (
        ID,
        PROD_NO,
        MID_PROD_NO,
        CRAFWORK_ID,
        MAC_NO,
        PERIOD_TIME,
        BEFORE_TIME,
        BEHIND_TIME,
        RUN_TOTAL,
        DELETED,
        CREATE_TIME,
        CREATE_BY,
        COMPANY_ID,
        MODIFY_TIME,
        MODIFY_BY
        ) VALUES (
        #{id,jdbcType=BIGINT},
        #{prodNo,jdbcType=VARCHAR},
        #{midProdNo,jdbcType=VARCHAR},
        #{crafworkId,jdbcType=BIGINT},
        #{macNo,jdbcType=VARCHAR},
        #{periodTime,jdbcType=INTEGER},
        #{beforeTime,jdbcType=INTEGER},
        #{behindTime,jdbcType=INTEGER},
        #{runTotal,jdbcType=INTEGER},
        #{deleted,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{companyId,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP},
        #{modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_PROD_MAC_PLM.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhiyun.entity.ProdMacPlm">
        UPDATE PROD_MAC_PLM
        <set>
            <if test="prodNo != null">
                PROD_NO = #{prodNo,jdbcType=VARCHAR},
            </if>
            <if test="midProdNo != null">
                MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR},
            </if>
            <if test="crafworkId != null">
                CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
            </if>
            <if test="macNo != null">
                MAC_NO = #{macNo,jdbcType=VARCHAR},
            </if>
            <if test="periodTime != null">
                PERIOD_TIME = #{periodTime,jdbcType=INTEGER},
            </if>
            <if test="beforeTime != null">
                BEFORE_TIME = #{beforeTime,jdbcType=INTEGER},
            </if>
            <if test="behindTime != null">
                BEHIND_TIME = #{behindTime,jdbcType=INTEGER},
            </if>
            <if test="runTotal != null">
                RUN_TOTAL = #{runTotal,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 更新实体 -->
    <update id="updateFields" parameterType="com.zhiyun.entity.ProdMacPlm">
        UPDATE PROD_MAC_PLM
        <set>
            PROD_NO = #{prodNo,jdbcType=VARCHAR},
            MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR},
            CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
            MAC_NO = #{macNo,jdbcType=VARCHAR},
            PERIOD_TIME = #{periodTime,jdbcType=INTEGER},
            BEFORE_TIME = #{beforeTime,jdbcType=INTEGER},
            BEHIND_TIME = #{behindTime,jdbcType=INTEGER},
            RUN_TOTAL = #{runTotal,jdbcType=INTEGER},
            DELETED = #{deleted,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{createBy,jdbcType=VARCHAR},
            COMPANY_ID = #{companyId,jdbcType=BIGINT},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 删除实体 -->
    <update id="delete" parameterType="com.zhiyun.entity.ProdMacPlm">
		UPDATE PROD_MAC_PLM
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

    <!-- 查询字段 -->
    <sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       PROD_NO prodNo,
		       MID_PROD_NO midProdNo,
		       CRAFWORK_ID crafworkId,
		       MAC_NO macNo,
		       PERIOD_TIME periodTime,
		       BEFORE_TIME beforeTime,
		       BEHIND_TIME behindTime,
		       RUN_TOTAL runTotal,
		       DELETED deleted,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       COMPANY_ID companyId,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

    <!-- 查询 -->
    <select id="get" parameterType="map" resultType="com.zhiyun.entity.ProdMacPlm">
        <include refid="selectFieldSQL"/>
        FROM PROD_MAC_PLM
        WHERE ID = #{id,jdbcType=INTEGER}
        AND DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 查询 -->
    <select id="find" parameterType="com.zhiyun.entity.ProdMacPlm" resultType="com.zhiyun.entity.ProdMacPlm">
        <include refid="selectFieldSQL"/>
        FROM PROD_MAC_PLM
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="prodNo != null and prodNo != ''">
                AND PROD_NO = #{prodNo,jdbcType=VARCHAR}
            </if>
            <if test="midProdNo != null and midProdNo != ''">
                AND MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR}
            </if>
            <if test="crafworkId != null">
                AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
            </if>
            <if test="macNo != null and macNo != ''">
                AND MAC_NO = #{macNo,jdbcType=VARCHAR}
            </if>
            <if test="periodTime != null">
                AND PERIOD_TIME = #{periodTime,jdbcType=INTEGER}
            </if>
            <if test="beforeTime != null">
                AND BEFORE_TIME = #{beforeTime,jdbcType=INTEGER}
            </if>
            <if test="behindTime != null">
                AND BEHIND_TIME = #{behindTime,jdbcType=INTEGER}
            </if>
            <if test="runTotal != null">
                AND RUN_TOTAL = #{runTotal,jdbcType=INTEGER}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!-- 查询所有 -->
    <select id="findAll" parameterType="map" resultType="com.zhiyun.entity.ProdMacPlm">
        <include refid="selectFieldSQL"/>
        FROM PROD_MAC_PLM
        WHERE DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询（条件） -->
    <sql id="page_condition">
        <where>
            <if test="entity.prodNo != null and entity.prodNo != ''">
                AND PROD_NO = #{entity.prodNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.midProdNo != null and entity.midProdNo != ''">
                AND MID_PROD_NO = #{entity.midProdNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.crafworkId != null">
                AND CRAFWORK_ID = #{entity.crafworkId,jdbcType=BIGINT}
            </if>
            <if test="entity.macNo != null and entity.macNo != ''">
                AND MAC_NO = #{entity.macNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.periodTime != null">
                AND PERIOD_TIME = #{entity.periodTime,jdbcType=INTEGER}
            </if>
            <if test="entity.beforeTime != null">
                AND BEFORE_TIME = #{entity.beforeTime,jdbcType=INTEGER}
            </if>
            <if test="entity.behindTime != null">
                AND BEHIND_TIME = #{entity.behindTime,jdbcType=INTEGER}
            </if>
            <if test="entity.runTotal != null">
                AND RUN_TOTAL = #{entity.runTotal,jdbcType=INTEGER}
            </if>
            <if test="entity.deleted != null and entity.deleted != ''">
                AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
            </if>
            <if test="entity.companyId != null">
                AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
            </if>
        </where>
    </sql>

    <!-- 分页查询（计数） -->
    <select id="page_count" parameterType="map" resultType="int">
        SELECT count(*)
        FROM PROD_MAC_PLM
        <include refid="page_condition"/>
    </select>

    <!-- 分页查询（数据） -->
    <select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.ProdMacPlm">
        <include refid="mybatis.pageStartSQL"/>
        <include refid="selectFieldSQL"/>
        FROM PROD_MAC_PLM
        <include refid="page_condition"/>
        <include refid="mybatis.pageEndSQL"/>
    </select>

    <!-- Map查询所有 -->
    <select id="findMapListAll" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM PROD_MAC_PLM
        WHERE DELETED = "F"
    </select>

    <!-- Map条件查询 -->
    <select id="findMapList" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM PROD_MAC_PLM
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="prodNo != null and prodNo != ''">
                AND PROD_NO = #{prodNo,jdbcType=VARCHAR}
            </if>
            <if test="midProdNo != null and midProdNo != ''">
                AND MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR}
            </if>
            <if test="crafworkId != null">
                AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
            </if>
            <if test="macNo != null and macNo != ''">
                AND MAC_NO = #{macNo,jdbcType=VARCHAR}
            </if>
            <if test="periodTime != null">
                AND PERIOD_TIME = #{periodTime,jdbcType=INTEGER}
            </if>
            <if test="beforeTime != null">
                AND BEFORE_TIME = #{beforeTime,jdbcType=INTEGER}
            </if>
            <if test="behindTime != null">
                AND BEHIND_TIME = #{behindTime,jdbcType=INTEGER}
            </if>
            <if test="runTotal != null">
                AND RUN_TOTAL = #{runTotal,jdbcType=INTEGER}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            WHERE DELETED = "F"
        </where>
    </select>

    <!-- 插入实体map -->
    <insert id="mapInsert" parameterType="map">
        INSERT INTO PROD_MAC_PLM (
        ID,
        PROD_NO,
        MID_PROD_NO,
        CRAFWORK_ID,
        MAC_NO,
        PERIOD_TIME,
        BEFORE_TIME,
        BEHIND_TIME,
        RUN_TOTAL,
        DELETED,
        CREATE_TIME,
        CREATE_BY,
        COMPANY_ID,
        MODIFY_TIME,
        MODIFY_BY
        ) VALUES (
        #{ id,jdbcType=BIGINT},
        #{ prodNo,jdbcType=VARCHAR},
        #{ midProdNo,jdbcType=VARCHAR},
        #{ crafworkId,jdbcType=BIGINT},
        #{ macNo,jdbcType=VARCHAR},
        #{ periodTime,jdbcType=INTEGER},
        #{ beforeTime,jdbcType=INTEGER},
        #{ behindTime,jdbcType=INTEGER},
        #{ runTotal,jdbcType=INTEGER},
        #{ deleted,jdbcType=VARCHAR},
        #{ createTime,jdbcType=TIMESTAMP},
        #{ createBy,jdbcType=VARCHAR},
        #{ companyId,jdbcType=BIGINT},
        #{ modifyTime,jdbcType=TIMESTAMP},
        #{ modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_PROD_MAC_PLM.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体Map -->
    <update id="mapUpdate" parameterType="map">
        UPDATE PROD_MAC_PLM
        <set>
            <if test="prodNo != null">
                PROD_NO = #{prodNo,jdbcType=VARCHAR},
            </if>
            <if test="midProdNo != null">
                MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR},
            </if>
            <if test="crafworkId != null">
                CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
            </if>
            <if test="macNo != null">
                MAC_NO = #{macNo,jdbcType=VARCHAR},
            </if>
            <if test="periodTime != null">
                PERIOD_TIME = #{periodTime,jdbcType=INTEGER},
            </if>
            <if test="beforeTime != null">
                BEFORE_TIME = #{beforeTime,jdbcType=INTEGER},
            </if>
            <if test="behindTime != null">
                BEHIND_TIME = #{behindTime,jdbcType=INTEGER},
            </if>
            <if test="runTotal != null">
                RUN_TOTAL = #{runTotal,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>   
