<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.ProdCrafworkPathHirstoryPlmDaoImpl">

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        INSERT INTO PROD_CRAFWORK_PATH_HIRSTORY_PLM (
        ID,
        VOUCHER_NO,
        PATH_NO,
        VERSIONS,
        MID_PROD_NO,
        CRAFWORK_ID,
        CRAFWORK_DESC,
        PRICE,
        QUARTERS_EMP,
        MODEL_NO,
        BEF_CRAFWORK,
        CARF_SEQ,
        UNIT,
        MAC_MINUTES,
        EMP_MINUTES,
        IS_CHECK,
        DAY_AMOUNT,
        START_DATE,
        END_DATE,
        REMARK,
        DELETED,
        COMPANY_ID,
        CREATE_TIME,
        CREATE_BY,
        MODIFY_TIME,
        MODIFY_BY
        ) VALUES (
        #{id,jdbcType=BIGINT},
        #{voucherNo,jdbcType=VARCHAR},
        #{pathNo,jdbcType=VARCHAR},
        #{versions,jdbcType=VARCHAR},
        #{midProdNo,jdbcType=VARCHAR},
        #{crafworkId,jdbcType=BIGINT},
        #{crafworkDesc,jdbcType=VARCHAR},
        #{price,jdbcType=DECIMAL},
        #{quartersEmp,jdbcType=VARCHAR},
        #{modelNo,jdbcType=VARCHAR},
        #{befCrafwork,jdbcType=VARCHAR},
        #{carfSeq,jdbcType=BIGINT},
        #{unit,jdbcType=VARCHAR},
        #{macMinutes,jdbcType=INTEGER},
        #{empMinutes,jdbcType=INTEGER},
        #{isCheck,jdbcType=INTEGER},
        #{dayAmount,jdbcType=DECIMAL},
        #{startDate,jdbcType=TIMESTAMP},
        #{endDate,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR},
        #{deleted,jdbcType=VARCHAR},
        #{companyId,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP},
        #{modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_PROD_CRAFWORK_PATH_HIRSTORY_PLM.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        UPDATE PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <set>
            <if test="voucherNo != null">
                VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
            </if>
            <if test="pathNo != null">
                PATH_NO = #{pathNo,jdbcType=VARCHAR},
            </if>
            <if test="versions != null">
                VERSIONS = #{versions,jdbcType=VARCHAR},
            </if>
            <if test="midProdNo != null">
                MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR},
            </if>
            <if test="crafworkId != null">
                CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
            </if>
            <if test="crafworkDesc != null">
                CRAFWORK_DESC = #{crafworkDesc,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=DECIMAL},
            </if>
            <if test="quartersEmp != null">
                QUARTERS_EMP = #{quartersEmp,jdbcType=VARCHAR},
            </if>
            <if test="modelNo != null">
                MODEL_NO = #{modelNo,jdbcType=VARCHAR},
            </if>
            <if test="befCrafwork != null">
                BEF_CRAFWORK = #{befCrafwork,jdbcType=VARCHAR},
            </if>
            <if test="carfSeq != null">
                CARF_SEQ = #{carfSeq,jdbcType=BIGINT},
            </if>
            <if test="unit != null">
                UNIT = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="macMinutes != null">
                MAC_MINUTES = #{macMinutes,jdbcType=INTEGER},
            </if>
            <if test="empMinutes != null">
                EMP_MINUTES = #{empMinutes,jdbcType=INTEGER},
            </if>
            <if test="isCheck != null">
                IS_CHECK = #{isCheck,jdbcType=INTEGER},
            </if>
            <if test="dayAmount != null">
                DAY_AMOUNT = #{dayAmount,jdbcType=DECIMAL},
            </if>
            <if test="startDate != null">
                START_DATE = #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                END_DATE = #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 更新实体 -->
    <update id="updateFields" parameterType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        UPDATE PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <set>
            VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
            PATH_NO = #{pathNo,jdbcType=VARCHAR},
            VERSIONS = #{versions,jdbcType=VARCHAR},
            MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR},
            CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
            CRAFWORK_DESC = #{crafworkDesc,jdbcType=VARCHAR},
            PRICE = #{price,jdbcType=DECIMAL},
            QUARTERS_EMP = #{quartersEmp,jdbcType=VARCHAR},
            MODEL_NO = #{modelNo,jdbcType=VARCHAR},
            BEF_CRAFWORK = #{befCrafwork,jdbcType=VARCHAR},
            CARF_SEQ = #{carfSeq,jdbcType=BIGINT},
            UNIT = #{unit,jdbcType=VARCHAR},
            MAC_MINUTES = #{macMinutes,jdbcType=INTEGER},
            EMP_MINUTES = #{empMinutes,jdbcType=INTEGER},
            IS_CHECK = #{isCheck,jdbcType=INTEGER},
            DAY_AMOUNT = #{dayAmount,jdbcType=DECIMAL},
            START_DATE = #{startDate,jdbcType=TIMESTAMP},
            END_DATE = #{endDate,jdbcType=TIMESTAMP},
            REMARK = #{remark,jdbcType=VARCHAR},
            DELETED = #{deleted,jdbcType=VARCHAR},
            COMPANY_ID = #{companyId,jdbcType=BIGINT},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{createBy,jdbcType=VARCHAR},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 删除实体 -->
    <update id="delete" parameterType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        UPDATE PROD_CRAFWORK_PATH_HIRSTORY_PLM
        SET DELETED     = #{deleted,jdbcType=VARCHAR},
            MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 查询字段 -->
    <sql id="selectFieldSQL">
        SELECT ID            id,
               VOUCHER_NO    voucherNo,
               PATH_NO       pathNo,
               VERSIONS      versions,
               MID_PROD_NO   midProdNo,
               CRAFWORK_ID   crafworkId,
               CRAFWORK_DESC crafworkDesc,
               PRICE         price,
               QUARTERS_EMP  quartersEmp,
               MODEL_NO      modelNo,
               BEF_CRAFWORK  befCrafwork,
               CARF_SEQ      carfSeq,
               UNIT          unit,
               MAC_MINUTES   macMinutes,
               EMP_MINUTES   empMinutes,
               IS_CHECK      isCheck,
               DAY_AMOUNT    dayAmount,
               START_DATE    startDate,
               END_DATE      endDate,
               REMARK        remark,
               DELETED       deleted,
               COMPANY_ID    companyId,
               CREATE_TIME   createTime,
               CREATE_BY     createBy,
               MODIFY_TIME   modifyTime,
               MODIFY_BY     modifyBy
    </sql>

    <!-- 查询 -->
    <select id="get" parameterType="map" resultType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        <include refid="selectFieldSQL"/>
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        WHERE ID = #{id,jdbcType=INTEGER}
        AND DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 查询 -->
    <select id="find" parameterType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm" resultType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        <include refid="selectFieldSQL"/>
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="voucherNo != null and voucherNo != ''">
                AND VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR}
            </if>
            <if test="pathNo != null and pathNo != ''">
                AND PATH_NO = #{pathNo,jdbcType=VARCHAR}
            </if>
            <if test="versions != null and versions != ''">
                AND VERSIONS = #{versions,jdbcType=VARCHAR}
            </if>
            <if test="midProdNo != null and midProdNo != ''">
                AND MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR}
            </if>
            <if test="crafworkId != null">
                AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
            </if>
            <if test="crafworkDesc != null and crafworkDesc != ''">
                AND CRAFWORK_DESC = #{crafworkDesc,jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                AND PRICE = #{price,jdbcType=DECIMAL}
            </if>
            <if test="quartersEmp != null and quartersEmp != ''">
                AND QUARTERS_EMP = #{quartersEmp,jdbcType=VARCHAR}
            </if>
            <if test="modelNo != null and modelNo != ''">
                AND MODEL_NO = #{modelNo,jdbcType=VARCHAR}
            </if>
            <if test="befCrafwork != null and befCrafwork != ''">
                AND BEF_CRAFWORK = #{befCrafwork,jdbcType=VARCHAR}
            </if>
            <if test="carfSeq != null">
                AND CARF_SEQ = #{carfSeq,jdbcType=BIGINT}
            </if>
            <if test="unit != null and unit != ''">
                AND UNIT = #{unit,jdbcType=VARCHAR}
            </if>
            <if test="macMinutes != null">
                AND MAC_MINUTES = #{macMinutes,jdbcType=INTEGER}
            </if>
            <if test="empMinutes != null">
                AND EMP_MINUTES = #{empMinutes,jdbcType=INTEGER}
            </if>
            <if test="isCheck != null">
                AND IS_CHECK = #{isCheck,jdbcType=INTEGER}
            </if>
            <if test="dayAmount != null">
                AND DAY_AMOUNT = #{dayAmount,jdbcType=DECIMAL}
            </if>
            <if test="startDate != null">
                AND START_DATE = #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND END_DATE = #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!-- 查询所有 -->
    <select id="findAll" parameterType="map" resultType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        <include refid="selectFieldSQL"/>
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        WHERE DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询（条件） -->
    <sql id="page_condition">
        <where>
            <if test="entity.voucherNo != null and entity.voucherNo != ''">
                AND VOUCHER_NO = #{entity.voucherNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.pathNo != null and entity.pathNo != ''">
                AND PATH_NO = #{entity.pathNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.versions != null and entity.versions != ''">
                AND VERSIONS = #{entity.versions,jdbcType=VARCHAR}
            </if>
            <if test="entity.midProdNo != null and entity.midProdNo != ''">
                AND MID_PROD_NO = #{entity.midProdNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.crafworkId != null">
                AND CRAFWORK_ID = #{entity.crafworkId,jdbcType=BIGINT}
            </if>
            <if test="entity.crafworkDesc != null and entity.crafworkDesc != ''">
                AND CRAFWORK_DESC = #{entity.crafworkDesc,jdbcType=VARCHAR}
            </if>
            <if test="entity.price != null">
                AND PRICE = #{entity.price,jdbcType=DECIMAL}
            </if>
            <if test="entity.quartersEmp != null and entity.quartersEmp != ''">
                AND QUARTERS_EMP = #{entity.quartersEmp,jdbcType=VARCHAR}
            </if>
            <if test="entity.modelNo != null and entity.modelNo != ''">
                AND MODEL_NO = #{entity.modelNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.befCrafwork != null and entity.befCrafwork != ''">
                AND BEF_CRAFWORK = #{entity.befCrafwork,jdbcType=VARCHAR}
            </if>
            <if test="entity.carfSeq != null">
                AND CARF_SEQ = #{entity.carfSeq,jdbcType=BIGINT}
            </if>
            <if test="entity.unit != null and entity.unit != ''">
                AND UNIT = #{entity.unit,jdbcType=VARCHAR}
            </if>
            <if test="entity.macMinutes != null">
                AND MAC_MINUTES = #{entity.macMinutes,jdbcType=INTEGER}
            </if>
            <if test="entity.empMinutes != null">
                AND EMP_MINUTES = #{entity.empMinutes,jdbcType=INTEGER}
            </if>
            <if test="entity.isCheck != null">
                AND IS_CHECK = #{entity.isCheck,jdbcType=INTEGER}
            </if>
            <if test="entity.dayAmount != null">
                AND DAY_AMOUNT = #{entity.dayAmount,jdbcType=DECIMAL}
            </if>
            <if test="entity.startDate != null">
                AND START_DATE = #{entity.startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="entity.endDate != null">
                AND END_DATE = #{entity.endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="entity.remark != null and entity.remark != ''">
                AND REMARK = #{entity.remark,jdbcType=VARCHAR}
            </if>
            <if test="entity.deleted != null and entity.deleted != ''">
                AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
            </if>
            <if test="entity.companyId != null">
                AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
            </if>
        </where>
    </sql>

    <!-- 分页查询（计数） -->
    <select id="page_count" parameterType="map" resultType="int">
        SELECT count(*)
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <include refid="page_condition"/>
    </select>

    <!-- 分页查询（数据） -->
    <select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.ProdCrafworkPathHirstoryPlm">
        <include refid="mybatis.pageStartSQL"/>
        <include refid="selectFieldSQL"/>
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <include refid="page_condition"/>
        <include refid="mybatis.pageEndSQL"/>
    </select>

    <!-- Map查询所有 -->
    <select id="findMapListAll" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        WHERE DELETED = "F"
    </select>

    <!-- Map条件查询 -->
    <select id="findMapList" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="voucherNo != null and voucherNo != ''">
                AND VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR}
            </if>
            <if test="pathNo != null and pathNo != ''">
                AND PATH_NO = #{pathNo,jdbcType=VARCHAR}
            </if>
            <if test="versions != null and versions != ''">
                AND VERSIONS = #{versions,jdbcType=VARCHAR}
            </if>
            <if test="midProdNo != null and midProdNo != ''">
                AND MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR}
            </if>
            <if test="crafworkId != null">
                AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
            </if>
            <if test="crafworkDesc != null and crafworkDesc != ''">
                AND CRAFWORK_DESC = #{crafworkDesc,jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                AND PRICE = #{price,jdbcType=DECIMAL}
            </if>
            <if test="quartersEmp != null and quartersEmp != ''">
                AND QUARTERS_EMP = #{quartersEmp,jdbcType=VARCHAR}
            </if>
            <if test="modelNo != null and modelNo != ''">
                AND MODEL_NO = #{modelNo,jdbcType=VARCHAR}
            </if>
            <if test="befCrafwork != null and befCrafwork != ''">
                AND BEF_CRAFWORK = #{befCrafwork,jdbcType=VARCHAR}
            </if>
            <if test="carfSeq != null">
                AND CARF_SEQ = #{carfSeq,jdbcType=BIGINT}
            </if>
            <if test="unit != null and unit != ''">
                AND UNIT = #{unit,jdbcType=VARCHAR}
            </if>
            <if test="macMinutes != null">
                AND MAC_MINUTES = #{macMinutes,jdbcType=INTEGER}
            </if>
            <if test="empMinutes != null">
                AND EMP_MINUTES = #{empMinutes,jdbcType=INTEGER}
            </if>
            <if test="isCheck != null">
                AND IS_CHECK = #{isCheck,jdbcType=INTEGER}
            </if>
            <if test="dayAmount != null">
                AND DAY_AMOUNT = #{dayAmount,jdbcType=DECIMAL}
            </if>
            <if test="startDate != null">
                AND START_DATE = #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND END_DATE = #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            WHERE DELETED = "F"
        </where>
    </select>

    <!-- 插入实体map -->
    <insert id="mapInsert" parameterType="map">
        INSERT INTO PROD_CRAFWORK_PATH_HIRSTORY_PLM (
        ID,
        VOUCHER_NO,
        PATH_NO,
        VERSIONS,
        MID_PROD_NO,
        CRAFWORK_ID,
        CRAFWORK_DESC,
        PRICE,
        QUARTERS_EMP,
        MODEL_NO,
        BEF_CRAFWORK,
        CARF_SEQ,
        UNIT,
        MAC_MINUTES,
        EMP_MINUTES,
        IS_CHECK,
        DAY_AMOUNT,
        START_DATE,
        END_DATE,
        REMARK,
        DELETED,
        COMPANY_ID,
        CREATE_TIME,
        CREATE_BY,
        MODIFY_TIME,
        MODIFY_BY
        ) VALUES (
        #{ id,jdbcType=BIGINT},
        #{ voucherNo,jdbcType=VARCHAR},
        #{ pathNo,jdbcType=VARCHAR},
        #{ versions,jdbcType=VARCHAR},
        #{ midProdNo,jdbcType=VARCHAR},
        #{ crafworkId,jdbcType=BIGINT},
        #{ crafworkDesc,jdbcType=VARCHAR},
        #{ price,jdbcType=DECIMAL},
        #{ quartersEmp,jdbcType=VARCHAR},
        #{ modelNo,jdbcType=VARCHAR},
        #{ befCrafwork,jdbcType=VARCHAR},
        #{ carfSeq,jdbcType=BIGINT},
        #{ unit,jdbcType=VARCHAR},
        #{ macMinutes,jdbcType=INTEGER},
        #{ empMinutes,jdbcType=INTEGER},
        #{ isCheck,jdbcType=INTEGER},
        #{ dayAmount,jdbcType=DECIMAL},
        #{ startDate,jdbcType=TIMESTAMP},
        #{ endDate,jdbcType=TIMESTAMP},
        #{ remark,jdbcType=VARCHAR},
        #{ deleted,jdbcType=VARCHAR},
        #{ companyId,jdbcType=BIGINT},
        #{ createTime,jdbcType=TIMESTAMP},
        #{ createBy,jdbcType=VARCHAR},
        #{ modifyTime,jdbcType=TIMESTAMP},
        #{ modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_PROD_CRAFWORK_PATH_HIRSTORY_PLM.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体Map -->
    <update id="mapUpdate" parameterType="map">
        UPDATE PROD_CRAFWORK_PATH_HIRSTORY_PLM
        <set>
            <if test="voucherNo != null">
                VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
            </if>
            <if test="pathNo != null">
                PATH_NO = #{pathNo,jdbcType=VARCHAR},
            </if>
            <if test="versions != null">
                VERSIONS = #{versions,jdbcType=VARCHAR},
            </if>
            <if test="midProdNo != null">
                MID_PROD_NO = #{midProdNo,jdbcType=VARCHAR},
            </if>
            <if test="crafworkId != null">
                CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
            </if>
            <if test="crafworkDesc != null">
                CRAFWORK_DESC = #{crafworkDesc,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=DECIMAL},
            </if>
            <if test="quartersEmp != null">
                QUARTERS_EMP = #{quartersEmp,jdbcType=VARCHAR},
            </if>
            <if test="modelNo != null">
                MODEL_NO = #{modelNo,jdbcType=VARCHAR},
            </if>
            <if test="befCrafwork != null">
                BEF_CRAFWORK = #{befCrafwork,jdbcType=VARCHAR},
            </if>
            <if test="carfSeq != null">
                CARF_SEQ = #{carfSeq,jdbcType=BIGINT},
            </if>
            <if test="unit != null">
                UNIT = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="macMinutes != null">
                MAC_MINUTES = #{macMinutes,jdbcType=INTEGER},
            </if>
            <if test="empMinutes != null">
                EMP_MINUTES = #{empMinutes,jdbcType=INTEGER},
            </if>
            <if test="isCheck != null">
                IS_CHECK = #{isCheck,jdbcType=INTEGER},
            </if>
            <if test="dayAmount != null">
                DAY_AMOUNT = #{dayAmount,jdbcType=DECIMAL},
            </if>
            <if test="startDate != null">
                START_DATE = #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                END_DATE = #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>   
