<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <description>提供者配置</description>
    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="${dubbo.appName}" owner="${dubbo.owner}" organization="${dubbo.organization}"/>
    <!--生产者提供服务-->
    <!--<dubbo:service interface=""/>-->
    <!--生产者全局配置-->
    <dubbo:provider group="${dubbo.group}" version="${dubbo.version}"/>

</beans>